

.dlasim_canvas-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px; /* Match your canvas width */
}

.dlasim_button-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  width: 100%;
}

.dlasim_status-row {
  margin-top: 12px;
  color: #888;
  text-align: center;
  width: 100%;
}

.dlasim-simple-2d-animated-dla-tab {
  text-align: left;
  width: var(--page-size-desktop);
}

.dlasim-flex-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.dlasim-canvas {
  border: 1px solid #ccc;
  background: #111;
} 